.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0%;
  margin-bottom: 11%;
}
.btn{
  font-size: 200%;
  margin-bottom: 10%;
}
/* navbar section */
.navbar {
  background-color: #16405d;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 9;
}
.navbar a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 1% 6%;
  text-decoration: none;
  font-size: 200%;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #2f88c4 10%, #256b9b 100%);
}
h1 {
  font-family: "Gill Sans", sans-serif;
  /*   font-weight: 700; */
  text-align: center;
  color: #ffffff;
  font-size: 300%;
  
}
h2{
  font-size: 400%;
  color: #ffffff;
}
p {
  color: black;
  bottom: 20%;
  font-size: 210%;
}

body {
  display: block;
  margin: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* projects section */
.projects-section {
  text-align: center;
  padding: 8% 10%;
  background: #256b9b;
}


.projects-section-header {
  margin: 0 auto 20% auto;
  /* border-bottom: 0.2rem solid white; */
}
.card-img-top{

  float:center;
  width:  100%;
  height: 30vh;
  object-fit: cover;
}
.card-img-bottom{

  float:center;
  width:  90%;
  height: 50vh;
  object-fit: cover;
}






/* contact */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 90vh;
  padding: 1%;
  background: #2f88c4;
}
.contact-links{
  padding-top: 10%;
 
}
.fa-facebook-square {
  color: black ;
  font-size: 200% ;
}

.fa-github-alt {
  color: black ;
  font-size: 200% ;
}
.fa-twitter-square {
  color: black ;
  font-size: 200% ;
}
.fa-envelope {
  color: black ;
  font-size: 200%;
}
